<div class="container">
    <h1 class="text-muted">Welcome</h1>
    <hr />
    <p class="lead">Are you looking for some mortage products? If so, then you've come to the right place.</p>
    <p class="lead">Apply and then check out which products you might be eligible for.</p>
</div>